{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<h1 class="title"> Welcome, {{start_user}}! </h1>
<br><br><br>

This is Stock Market Simulator
 <br>

Here you will be able to perform functions:<br><br>

- Once you click the QUOTE button you will be able to see how much any stock is worth at the moment<br>
- Once you click BUY button you can buy stocks, as well as add more cash to your account<br>
- Click the SELL button to sell stock<br>
- On the HISTORY button you can see history of your own transactions<br>
- On the FORUM you can post and read other users posts!<br>
- On the USERS PORTFOLIOS section you can see other users' portfolios<br>
- Once you click the USERS ACTIVITY button, you can see activity of users on our website<br><br>

That's it! Hope you're gonna have fun! Remember, its only a simulator so you can take more risk :&#41;


{% endblock %}